body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background: rgba(237, 225, 177, 1);
    width: 100%;
    text-align: center;
    border-style: solid;
    padding: 2px;
    margin: 1px;
}
div {
    box-sizing: border-box;
    height: auto;
    border-style: solid;
    border-color: black;
    padding: 3px;
    margin: 4.1px;

}
footer {
    background: rgba(237, 225, 177, 1);
    text-align: center;
    width: 100%;
    clear: both;
    border-style: solid;
    padding: 2px;
    margin: 1px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column {
    float: left;
    width: 32%;
  }
  .column--first { background-color: #b3c9ea }
  .column--second { background-color: #eac0b3 }
  .column--third { background-color: #b3c9ea }
  