body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header {
    background: rgba(237, 225, 177, 1);
    width: 100%;
    text-align: center;
    border-style: solid;
    padding: 2px;
    margin: 1px;
}
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
div {
    padding: 3px;
    margin: 4.1px;
    height: auto;
}
footer {
    background: rgba(237, 225, 177, 1);
    text-align: center;
    width: 100%;
    clear: both;
    border-style: solid;
    padding: 2px;
    margin: 1px;
}
.one {
    grid-column: 1 / 2;
    grid-row: 1;
    grid-auto-columns: max-content;
}
.two {
    grid-column: 2 / 3;
    grid-row: 1;
    grid-auto-columns: max-content;
}
.three {
    grid-column: 3 / 3;
    grid-row: 1;
    grid-auto-columns: max-content;
}